/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  min-height: 100%; }

body {
  overflow-x: auto;
  overflow-y: scroll;
  background-color: #fff;
  background-image: linear-gradient(top, #eeeeee 0%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, white 100%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
  background-image: -webkit-gradient(linear, left top, left 300, color-stop(0, #eeeeee), color-stop(1, white));
  color: #333;
  font: 104%/1.8 "Cantarell", "Droid Sans", "DejaVu Sans", Arial, sans-serif;
  padding: 24px 0 40px; }
  body a:active {
    position: relative;
    top: 1px; }
  body #wrapper {
    display: block;
    margin: 0 auto;
    width: 930px; }
    body #wrapper > header h1 {
      font-size: 4em;
      font-family: 'Antic', sans-serif;
      text-transform: uppercase;
      display: inline-block; }
    body #wrapper > header h2 {
      font-size: 2em;
      font-family: 'Antic', sans-serif;
      display: inline-block;
      margin-left: 8px; }
    body #wrapper > nav {
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -o-border-top-left-radius: 5px;
      -o-border-top-right-radius: 5px;
      -o-border-bottom-left-radius: 5px;
      -o-border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      background-image: linear-gradient(top, #575d62 0%, #33393d 100%);
      background-image: -o-linear-gradient(top, #575d62 0%, #33393d 100%);
      background-image: -moz-linear-gradient(top, #575d62 0%, #33393d 100%);
      background-image: -webkit-linear-gradient(top, #575d62 0%, #33393d 100%);
      background-image: -ms-linear-gradient(top, #575d62 0%, #33393d 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #575d62), color-stop(1, #33393d));
      padding: 3px 5px;
      margin-bottom: 24px; }
      body #wrapper > nav li {
        display: inline-block;
        margin-right: 10px; }
        body #wrapper > nav li a, body #wrapper > nav li a:link, body #wrapper > nav li a:visited, body #wrapper > nav li a:hover, body #wrapper > nav li a:active {
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          -moz-border-radius-bottomleft: 5px;
          -moz-border-radius-bottomright: 5px;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -webkit-border-bottom-right-radius: 5px;
          -o-border-top-left-radius: 5px;
          -o-border-top-right-radius: 5px;
          -o-border-bottom-left-radius: 5px;
          -o-border-bottom-right-radius: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          font-size: 0.9em;
          padding: 2px 16px;
          text-shadow: 0 1px 0 #000;
          border: 1px solid transparent; }
        body #wrapper > nav li a:hover {
          background-color: rgba(255, 255, 255, 0.15);
          border-color: rgba(255, 255, 255, 0); }
      body #wrapper > nav[class=""] li:nth-child(2) a, body #wrapper > nav.index li:nth-child(1) a, body #wrapper > nav.members li:nth-child(3) a, body #wrapper > nav.about li:nth-child(4) a, body #wrapper > nav li a:active {
        background-color: #31363a;
        border-top-color: #181a1b;
        border-left-color: #292e31;
        border-right-color: #292e31;
        border-bottom-color: #77797b; }
  body #content h1, body #content h2 {
    color: #285a92; }
    body #content h1 a, body #content h1 a:link, body #content h1 a:visited, body #content h1 a:hover, body #content h1 a:active, body #content h2 a, body #content h2 a:link, body #content h2 a:visited, body #content h2 a:hover, body #content h2 a:active {
      text-decoration: none; }
  body #content h1 {
    font-size: 1.8em; }
  body #content h2 {
    font-size: 1.4em; }
  body #content header.coloured {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -o-border-top-left-radius: 5px;
    -o-border-top-right-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #285a92;
    margin-bottom: 24px;
    font-size: 0.95em;
    padding: 4px 8px; }
    body #content header.coloured h1, body #content header.coloured h2 {
      color: #fff; }
  body #content #split_wrapper {
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal; }
    body #content #split_wrapper > div {
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      -o-box-flex: 1;
      box-flex: 1;
      padding-right: 32px; }
      body #content #split_wrapper > div .latest_article li {
        margin-bottom: 24px; }
        body #content #split_wrapper > div .latest_article li header h2 a, body #content #split_wrapper > div .latest_article li header h2 a:link, body #content #split_wrapper > div .latest_article li header h2 a:visited, body #content #split_wrapper > div .latest_article li header h2 a:hover, body #content #split_wrapper > div .latest_article li header h2 a:active {
          display: block;
          color: #285a92; }
      body #content #split_wrapper > div .latest_article a.grey_btn, body #content #split_wrapper > div .latest_article a.grey_btn:link, body #content #split_wrapper > div .latest_article a.grey_btn:visited, body #content #split_wrapper > div .latest_article a.grey_btn:hover, body #content #split_wrapper > div .latest_article a.grey_btn:active {
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -o-border-top-left-radius: 5px;
        -o-border-top-right-radius: 5px;
        -o-border-bottom-left-radius: 5px;
        -o-border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: block;
        background-color: #ececec;
        border: 1px solid #ccc;
        text-align: center;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 #fff;
        margin-top: 24px; }
      body #content #split_wrapper > div .latest_article a.grey_btn:hover {
        background-color: #fff; }
      body #content #split_wrapper > div .latest_article a.grey_btn:active {
        background-color: #ececec;
        border-top-color: #bbb; }
    body #content #split_wrapper > aside {
      -moz-box-flex: 0;
      -webkit-box-flex: 0;
      -o-box-flex: 0;
      box-flex: 0;
      width: 300px; }
      body #content #split_wrapper > aside .infobox {
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -o-border-top-left-radius: 5px;
        -o-border-top-right-radius: 5px;
        -o-border-bottom-left-radius: 5px;
        -o-border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #ccc;
        padding: 8px;
        margin-top: 8px; }
        body #content #split_wrapper > aside .infobox h3 {
          font-size: 1.2em;
          margin-bottom: 4px; }
        body #content #split_wrapper > aside .infobox ul {
          display: -moz-box;
          display: -webkit-box;
          display: -o-box;
          display: box;
          -moz-box-orient: horizontal;
          -webkit-box-orient: horizontal;
          -o-box-orient: horizontal;
          box-orient: horizontal; }
          body #content #split_wrapper > aside .infobox ul li {
            -moz-box-flex: 1;
            -webkit-box-flex: 1;
            -o-box-flex: 1;
            box-flex: 1; }
            body #content #split_wrapper > aside .infobox ul li a {
              text-align: center;
              background-color: #ccc;
              display: block; }
              body #content #split_wrapper > aside .infobox ul li a, body #content #split_wrapper > aside .infobox ul li a:link, body #content #split_wrapper > aside .infobox ul li a:visited, body #content #split_wrapper > aside .infobox ul li a:hover, body #content #split_wrapper > aside .infobox ul li a:visited {
                color: #333;
                text-decoration: none; }
              body #content #split_wrapper > aside .infobox ul li a img, body #content #split_wrapper > aside .infobox ul li a span {
                text-align: center;
                font-size: 0.85em;
                display: block; }
              body #content #split_wrapper > aside .infobox ul li a img {
                width: 32px;
                height: 32px;
                margin: 0 auto; }
          body #content #split_wrapper > aside .infobox ul li:not(:last-child) {
            margin-right: 4px; }
  body #content #articles ol li .bangs {
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    min-height: 30px;
    margin-bottom: 8px; }
    body #content #articles ol li .bangs header {
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      -o-box-flex: 1;
      box-flex: 1;
      padding-right: 8px; }
      body #content #articles ol li .bangs header h2 a, body #content #articles ol li .bangs header h2 a:link, body #content #articles ol li .bangs header h2 a:visited, body #content #articles ol li .bangs header h2 a:hover {
        display: block;
        color: #285a92; }
    body #content #articles ol li .bangs .meta {
      -moz-box-flex: 0;
      -webkit-box-flex: 0;
      -o-box-flex: 0;
      box-flex: 0;
      font-size: 0.8em;
      text-align: right;
      display: inline-block;
      font-weight: bold;
      line-height: 1.6;
      margin-top: 9px; }
      body #content #articles ol li .bangs .meta img {
        -moz-border-radius-topleft: 2px;
        -moz-border-radius-topright: 2px;
        -moz-border-radius-bottomleft: 2px;
        -moz-border-radius-bottomright: 2px;
        -webkit-border-top-left-radius: 2px;
        -webkit-border-top-right-radius: 2px;
        -webkit-border-bottom-left-radius: 2px;
        -webkit-border-bottom-right-radius: 2px;
        -o-border-top-left-radius: 2px;
        -o-border-top-right-radius: 2px;
        -o-border-bottom-left-radius: 2px;
        -o-border-bottom-right-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        float: right;
        margin: 0 0 0 5px;
        vertical-align: text-top; }
      body #content #articles ol li .bangs .meta a, body #content #articles ol li .bangs .meta a:link, body #content #articles ol li .bangs .meta a:visited, body #content #articles ol li .bangs .meta a:hover, body #content #articles ol li .bangs .meta a:active {
        color: #333;
        text-decoration: none; }
      body #content #articles ol li .bangs .meta time {
        display: block;
        font-weight: normal; }
  body #content #articles ol li:not(:last-child) {
    padding-bottom: 24px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 24px; }
  body #content #article {
    margin-bottom: 32px; }
    body #content #article header {
      margin-bottom: 8px; }
      body #content #article header h1 a, body #content #article header h1 a:link, body #content #article header h1 a:visited, body #content #article header h1 a:hover {
        display: block;
        color: #285a92; }
    body #content #article .meta {
      margin-top: 24px;
      border-top: 1px dotted #ccc;
      padding-top: 24px;
      font-weight: bold;
      text-align: right; }
      body #content #article .meta img {
        float: right;
        margin: 0 0 0 5px;
        vertical-align: text-top; }
      body #content #article .meta a, body #content #article .meta a:link, body #content #article .meta a:visited, body #content #article .meta a:hover, body #content #article .meta a:active {
        color: #333;
        text-decoration: none; }
      body #content #article .meta time {
        font-weight: normal; }
  body #content .members {
    font-size: 0.9em;
    vertical-align: top; }
    body #content .members li {
      display: inline-block;
      width: 49%;
      margin-right: 2%;
      overflow: hidden;
      vertical-align: top; }
      body #content .members li table th {
        font-weight: bold;
        text-align: left;
        padding-right: 4px; }
      body #content .members li table td {
        text-align: left; }
        body #content .members li table td .portrait {
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          -moz-border-radius-bottomleft: 5px;
          -moz-border-radius-bottomright: 5px;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -webkit-border-bottom-right-radius: 5px;
          -o-border-top-left-radius: 5px;
          -o-border-top-right-radius: 5px;
          -o-border-bottom-left-radius: 5px;
          -o-border-bottom-right-radius: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          margin-right: 8px; }
    body #content .members li:nth-child(n+2) {
      margin-right: 0; }
  body #content .members:not(:last-child) {
    margin-bottom: 40px; }

@media print {
  /* html5 boilerplate --- */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
